 .wrapper {
     display: grid;
     margin: 0 auto;
     grid-template-columns: repeat(2, 1fr);
     grid-template-areas:
         "header header"
         "banner banner"
         "about about"
         "portfolio portfolio"
         "contact contact"
         "footer footer";
 }

 .wrapper>* {
     background-color: var(--cor-fundo);
 }

 /* DESKTOP HEADER */
 .navbar {
     grid-area: header;
     height: 15vh;
     width: 100%;
     position: fixed;
     background-color: var(--cor-fundo);
     display: flex;
     align-items: center;
     justify-content: space-between;
 }

 .navbar a {
     color: var(--cor-primaria);
 }

 .logo {
     margin-left: 4rem;
     font-size: 4rem;
 }

 .logo:hover {
     font-weight: 600;
     transform: scale(1.1);
     transition: .2s;
 }

 .nav-list {
     display: flex;
     gap: 2rem;
     margin-right: 4rem;
     font-family: Arial, Helvetica, sans-serif;
     text-transform: uppercase;
     font-size: 1.2rem;
 }

 .nav-list a::after {
     content: " ";
     width: 30%;
     height: 3px;
     background-color: var(--cor-primaria);
     position: absolute;
     bottom: 0;
 }

 .nav-list li:hover {
     transform: scale(1.2);
     transition: .2s;
     font-weight: 600;
 }

 .btn-menu {
     width: 50px;
     height: 50px;
     border: none;
     background: transparent;
     cursor: pointer;
     margin-right: 2rem;
     display: none;
 }

 .bar {
     display: block;
     background-color: var(--cor-primaria);
     width: 40px;
     height: 05px;
     margin: 7px auto;
     transition: all 0.3s ease-in-out;
 }

 /*MOBILE HEADER*/
 @media screen and (max-width:767px) {
     .logo {
         font-size: 3rem;
         margin-left: 2rem;
     }

     .nav-list {
         position: absolute;
         visibility: hidden;
         flex-direction: column;
         background-color: var(--cor-fundo);
         opacity: 0;
         font-size: 1.6rem;
         gap: 4rem;
     }

     .nav-list.active {
         visibility: visible;
         opacity: 100;
         top: 100px;
         padding-top: 5rem;
         width: 100%;
         height: 100vh;
         transition: all .3s ease-in-out;
         text-align: center;
         opacity: 85%;
         backdrop-filter: blur(100px);
         -webkit-backdrop-filter: blur(100px);
     }

     .btn-menu {
         display: block;
     }

     .btn-menu.active .bar:nth-child(2) {
         opacity: 0;
     }

     .btn-menu.active .bar:nth-child(1) {
         transform: translateY(8px) rotate(45deg);
     }

     .btn-menu.active .bar:nth-child(3) {
         transform: translateY(-15px) rotate(-45deg);
     }
 }

 @media screen and (min-width:1023px) {
     .logo {
         margin-left: 6rem;
         font-size: 5rem;
     }

     .nav-list {
         margin-right: 6rem;
         font-size: 1.5rem;
     }
 }

 /* FIM CABEÇALHO */

 /* BANNER */

 .banner {
     display: flex;
     grid-area: banner;
     flex-direction: column;
     text-align: center;
     height: 100vh;
     background-image: url(/assets/img/Yo.jpg);
     background-size: 90%;
     background-repeat: no-repeat;
     background-position: center;
 }

 .eu-sou h1 {
     font-size: 1.5rem;
     font-weight: 400;
     margin-top: 07rem;
     margin-bottom: 22rem;
 }

 .eu-sou span {
     font-size: 1.6rem;
     font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
 }

 .eu-sou svg {
     width: 50px;
     padding: .7rem;
     margin-inline: 1rem;
 }

 .eu-sou svg:hover {
     transform: scale(1.1);
     transition: .3s;
     fill: #fff;
     border: 2px solid #030303;
     background-color: #030303;
     border-radius: 20px;
 }

 @media screen and (min-width:389px) {
     .eu-sou h1 {
         font-size: 1.5rem;
         margin-top: 12rem;
         margin-bottom: 27rem;
     }
 }

 @media screen and (min-width:414px) {
     .eu-sou h1 {
         margin-top: 13rem;
         margin-bottom: 28rem;
     }
 }

 @media screen and (min-width:429px) {
     .eu-sou h1 {
         margin-bottom: 30rem;
     }
 }

 @media screen and (min-width:768px) {

     .eu-sou h1 {
         margin-top: 7rem;
         font-size: 3rem;
         margin-bottom: 35rem;
     }

     .eu-sou span {
         font-size: 3.3rem;
     }

     .eu-sou svg {
         width: 65px;
         margin-left: 3rem;
     }

 }

 @media screen and (min-width:820px) {
     .eu-sou h1 {
         margin-top: 09rem;
     }

     .eu-sou svg {
         width: 75px;
     }
 }

 @media screen and (min-width:1024px) {
     .eu-sou h1 {
         margin-top: 11rem;
         margin-bottom: 45rem;
     }
 }

 /* FIM BANNER */

 /* SOBRE */
 .about {
     display: flex;
     flex-direction: column;
     grid-area: about;
 }

 .about h2 {
     padding-top: 8rem;
     padding-bottom: 1rem;
     font-size: 1.6rem;
     font-family: var(--font-primaria);
     text-align: center;
 }

 .about img {
     width: 50%;
     padding-bottom: 1rem;
 }

 .about p {
     font-family: var(--font-primaria);
     font-size: 1.3rem;
     font-weight: 600;
     color: #030303;
     text-align: center;
 }

 .about-skills {
     padding-top: 2rem;
     display: flex;
     flex-direction: column;
     align-items: center;
 }

 .about-skills p {
     padding-bottom: 1.5rem;
 }

 .about svg {
     width: 50px;
 }

 .about svg:hover {
     width: 50px;
     fill: #27052f;
     transform: scale(1.1);
     transition: .3s;
 }

 @media screen and (min-width:390px) {
     .about h2 {
         padding-top: 15rem;
         padding-bottom: 20rem;
     }
 }

 @media screen and (min-width:414px) {
     .about h2 {
         padding-top: 12rem;
     }
 }

 @media screen and (min-width:768px) {
     .about h2 {
         font-size: 2rem;
         padding-top: 13rem;
         padding-bottom: 22rem;
     }

     .about-skills {
         padding-top: 2rem;
         display: flex;
     }
 }


 @media screen and (min-width:820px) {
     .about h2 {
         padding-top: 08rem;
     }
 }

 @media screen and (min-width:1024px) {
     .about h2 {
         padding-top: 25rem;
     }
 }

 /* FIM SOBRE */

 /* PORTFÓLIO */
 .portfolio {
     grid-area: portfolio;
 }

 .portfolio h3 {
     padding-top: 25rem;
 }

 /* FIM PORTFÓLIO */

 /* CONTATO */
 .contact {
     display: flex;
     flex-direction: column;
     grid-area: contact;
 }

 .contact a {
     margin-top: 10rem;
     margin-bottom: 3rem;
     padding: 1rem;
 }

 .contact svg:hover {
     transform: scale(1.1);
     transition: .2s;
 }

 .contact a svg {
     padding-left: 18rem;
 }

 .contact-form {
     grid-area: contact;
     display: flex;
     flex-direction: column;
 }

 .contact-coffe {
     width: 40px;
     height: 50px;
     padding-bottom: 1rem;
 }

 .contact-arrow {
     width: 25px;
 }

 /* FIM CONTATO */

 /* FOOTER */
 .footer {
     grid-area: footer;
     text-align: center;
     margin-bottom: 2rem;
 }

 /* FIM FOOTER */