* {
    margin: 0;
    padding: 0;
    text-decoration: none;
    list-style: none;
}

html {
    height: 100vh;
    scroll-behavior: smooth;
}

:root {
    --cor-primaria: #030303;
    --cor-fundo: #fff;
    --font-primaria: arial, helvetica;
}

header {
    font-size: 1.3rem;
    opacity: 85%;
}

body {
    background-color: light-dark(#fff, #27052f);
    overflow-x: hidden;
}

h1,
h2,
h3,
h4 {
    font-family: var(--font-primaria);
    font-weight: 600;
    color-scheme: var(--cor-primaria) var(--cor-fundo);
    font-size: 1.6rem;
}

a {
    color: var(--cor-primaria);
}

section {
    place-items: center;
    text-align: center;
    min-height: 100vh;
}