* {
    margin: 0;
    padding: 0;
    text-decoration: none;
    list-style: none;
}

html {
    height: 100vh;
    scroll-behavior: smooth;
}

:root {
    color-scheme: light dark;
    --cor-primaria: #fff;
    --cor-fundo: #27052f;
    --font-primaria: arial, helvetica;
}

header {
    font-size: 1.3rem;
}

body {
    background-color: light-dark(#fff, #27052f);
}

h1 {
    font-family: Arial, Helvetica, sans-serif;
}

span {
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
}

h2,
h3,
h4 {
    font-family: var(--font-primaria);
    font-weight: 600;
}

h1,
a {
    color: light-dark(#030303, #8b9a95);
}

section {
    place-items: center;
    text-align: center;
    min-height: 100vh;
}